<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szss.dao.MessageMapper">
  <resultMap id="BaseResultMap" type="com.szss.model.Message">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="title" jdbcType="VARCHAR" property="title"/>
    <result column="content" jdbcType="VARCHAR" property="content"/>
    <result column="receivername" jdbcType="VARCHAR" property="receivername"/>
    <result column="sendname" jdbcType="VARCHAR" property="sendname"/>
    <result column="receiverid" jdbcType="INTEGER" property="receiverid"/>
    <result column="sendid" jdbcType="INTEGER" property="sendid"/>
    <result column="sendtime" jdbcType="TIMESTAMP" property="sendtime"/>
    <result column="senddelete" jdbcType="INTEGER" property="senddelete"/>
    <result column="receiverdelete" jdbcType="INTEGER" property="receiverdelete"/>
    <result column="filename" jdbcType="VARCHAR" property="filename"/>
  </resultMap>
  <select id="getInMessages" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    SELECT * FROM message where 1=1 and receiverdelete != 1
    <if test="receiverid != null ">
      and receiverid=#{receiverid}
    </if>
  </select>
  <select id="getOutMessages" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    SELECT * FROM message where 1=1 and senddelete != 1
    <if test="sendid != null ">
      and sendid=#{sendid}
    </if>
     order by sendtime
  </select>
 <select id="getEntityById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	SELECT * FROM message where 1=1 
    <if test="id != null ">
      and id=#{id}
    </if>
  </select>
<insert id="saveEntity" parameterType="com.szss.model.Message">
  	  INSERT INTO message (title, content, 
      receiverid, sendid, sendtime, 
      receivername, sendname, senddelete, 
      receiverdelete, filename)
    values (#{title,jdbcType=VARCHAR},
    #{content,jdbcType=VARCHAR},
    #{receiverid,jdbcType=INTEGER},
    #{sendid,jdbcType=INTEGER},
    #{sendtime,jdbcType=TIMESTAMP},
    #{receivername,jdbcType=VARCHAR},
    #{sendname,jdbcType=VARCHAR},
    #{senddelete,jdbcType=INTEGER},
    #{receiverdelete,jdbcType=INTEGER},
    #{filename,jdbcType=VARCHAR}
   
    )
  </insert>
  <update id="deleteInEntity" parameterType="java.lang.Integer">
  	UPDATE message SET receiverdelete=1  WHERE id = #{id}
  </update>
  <update id="deleteOutEntity" parameterType="java.lang.Integer">
  	UPDATE message SET senddelete=1  WHERE id = #{id}
  </update>
 
</mapper>