<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szss.dao.NewsMapper">
  <resultMap id="BaseResultMap" type="com.szss.model.News">
    
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.szss.model.News">
    
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  
  <insert id="saveEntity" parameterType="com.szss.model.News">
  	  INSERT INTO news (title, content, user_id, create_time)
    values (#{title}, #{content}, 1, #{createTime})
  </insert>
  
  <select id="searchEntity" resultMap="BaseResultMap">
  	SELECT * FROM news
  </select>
  
  <select id="getEntityById" parameterType="int" resultMap="BaseResultMap">
  	SELECT * FROM news WHERE id = #{id}
  </select>
   
  <delete id="deleteEntity" parameterType="int">
  	DELETE FROM news WHERE id = #{id}
  </delete> 
  
  <update id="updateEntity" parameterType="com.szss.model.News">
  	UPDATE news SET title = #{title}, 
      content = #{content} WHERE id = #{id}
  </update>
  
</mapper>